header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    Padding: 10px;
    background-color: #091A1E;
}

.buttonBox, h1{
    margin: 0px 15px;
}

.titleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#E7E7E7;
}



